body, span, div {
    cursor: default;
    -webkit-user-select: none;
    overflow:hidden;
    margin:0;
    padding:0;
}

body {
    background-color: #AFAFAF;
    width: 100%;
    height: 100%;
}

span {
    font-size: 18px;
    font-family: Arial;
}

.panel {
    background-color: #9F9F9F;
    display: none;
    z-index: 3;
}

/***********************************/
/* panel left app */
#panel-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
}

.app {
    float: right;
    clear: both;
    width: 48px;
    height: 48px;
    margin: 6px;
}

.app img {
    //opacity: 1;
}

.canvas {
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 48px;
}   

/***********************************/
#panel-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 44px;
}

.task-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 44px;
    background-color: #8A8A8A;
    border-left: 1px solid #797979;
}

.task-panel .tray-icon {
    float: right;
    clear: both;
    width: 24px;
    height: 24px;
    margin: 10px;
}
